body{
margin: 0;
font-family: cursive, Arial, Helvetica, sans-serif
}

header{
    background-color: rgb(184, 174, 88);
    text-align: center;
    padding: 5px 0px;
}

h1, h2{
 font-family: cursive;
   color: rgb(158, 10, 10);
}

header h1{
    color: rgb(221, 16, 153);
    font-size: 30px;
    font-family: cursive, Arial, Helvetica, sans-serif
}
header img{
    border-radius: 190px;
    border: 8px solid rgba(241, 6, 124, 0.667);
}

main{
    max-width: 820px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
main img{
    max-width: 100%;
}
a{
    color: rgb(158, 10, 10);
}
a:hover{
    color: seagreen;
}

footer{
    background-color:rgb(184, 174, 88);
    text-align: center;
    padding: 20px;
}
